.carrossel__titulo {
   background-color: var(--branco);
   color: var(--laranja);
   font-size: 18px;
   font-weight: 700;
   padding: 20px 0;
   text-align: center;
   text-transform: uppercase;
}
.swiper {
   padding-top: 20px;
}
.swiper-pagination {
   position: initial;
}
.swiper-button-prev, .swiper-button-next {
   display: none;
}
.swiper-pagination-bullet-active {
   background: var(--azul-degrade);
}
.swiper-wrapper {
   padding-top: 16px;
}
.swiper-slide img {
   filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.15));
   width: 110%;
}
.card {
   background-color: var(--branco);
   border-radius: 10px;
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
   margin: 1em;
   padding: 1em 0.5em;
}
.card__descricao {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.descricao__estrelas {
   margin-bottom: 8px;
}
.descricao__titulo {
   color: var(--laranja);
   font-size: 24px;
   font-weight: 700;
   line-height: 24px;
}
.descricao__titulo-livro {
   color: var(--azul);
   font-size: 18px;
   font-weight: 700;
   line-height: 27px;
   padding: 8px 0;
}
.descricao__texto {
   font-size: 14px;
   line-height: 21px;
}
.descricao__img {
   margin: 10px 0;
}
.descricao__img img {
   height: 200px;
   object-fit: cover;
   width: 100%;
}
.card__botoes {
   align-items: center;
   display: flex;
   justify-content: space-between;
}
.botoes {
   display: flex;
}
.botoes__item {
   padding: 8px;
}
.botoes__ancora {
   background: var(--laranja);
   color: var(--branco);
   font-weight: 700;
   padding: 1em 2.2em;
   text-decoration: none;
}

@media screen and (min-width: 428px) {
   .swiper-slide img {
      width: 100%;
   }
   .card {
      margin: 20px 24px;
      padding: 16px 16px 24px 16px;
   }
   .card__descricao {
      align-items: start;
      flex-direction: row;
   }
   .descricao__titulo {
      font-size: 18px;
   }
   .descricao__texto {
      margin-right: 16px;
   }
   .descricao__img {
      margin: 0;
   }
   .descricao__img img {
      height: auto;
      width: auto;
   }
   .card__botoes {
      margin: 8px 0;
   }

   @media screen and (min-width: 1024px) {
      .carrossel__titulo {
         font-size: 26px;
      }
      .swiper-pagination {
         margin: 2em 0 3em 0;
      }
      .swiper {
         width: 60%;
      }
      .swiper-slide img {
         width: 100%;
      }
      .swiper-button-prev, .swiper-button-next {
         display: block;
         top: 70%;
      }
      .swiper-button-prev::after, .swiper-button-next::after {
         background: var(--azul-degrade);
         border-radius: 100%;
         color: var(--branco);
         font-size: 14px;
         font-weight: 700;
         padding: 10px 13px;
      }
      .card {
         margin: 2em auto;
         padding: 1.5em 1em;
         width: 50%;
      }
      .descricao__texto {
         font-size: 16px;
         line-height: 24px;
      }
   
      @media screen and (min-width: 1728px) {
         .carrossel__container {
            gap: 80px;
         }
         .carrossel__titulo {
            padding: 56px 0 20px 0;
         }
         .carrossel__container {
            align-items: center;
            display: flex;
            margin: 5em 10vw;
         }
         .card {
            align-self: flex-end;
            margin: 0;
            padding: 1rem;
            width: 100%;
         }
         .swiper {
            width: 100%;
         }
         .swiper-pagination {
            margin: 16px 0;
         }
         .descricao {
            margin-right: 2em;
         }
         .descricao__titulo {
            font-size: 32px;
            line-height: 48px;
         }
      }
   }
}